global:
  resolve_timeout: 5m

route:
  receiver: 'discord'
  group_by: ['alertname', 'severity']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 1h

receivers:
  - name: 'discord'
    discord_configs:
      - webhook_url: 'DISCORD_HOOK'
        send_resolved: true
